In [584]:
# importing libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
# pd.set_option('max_columns', 100)

In [ ]:
# loading the house prices data 
house_price = pd.read_csv("D:/Data Science/SecondCapstoneProjectDS/house_prices.csv")

In [ ]:
# Filtering 20% of the data 
house_price_sample = house_price.sample(frac=0.2, random_state=42)
house_price_sample.head()

In [ ]:
# checking the info of the data 
house_price_sample.info

In [ ]:
# resetting the index to make it more understanding and clean 
df = house_price_sample.reset_index(drop=True)
df.head()

In [ ]:
# Checking the list of columns in the data 
df.columns

In [ ]:
## Checking the Index in the data 
df.index

df.reset_index(drop=True)

In [ ]:
# Checking the data types of our data frame 
df.dtypes

Columns named Price, PLot Area and Dimensions are float type. All other columns are object type. This takes us to the decision that we have to convert Amount, Carpet Area, bathroom to float type to make our data more clean and better

In [ ]:
# checking the number of values in each column by calling .count()
df.count()

There is no value in Dimensions and Plot Area columns. We can drop these columns later.

In [ ]:
# removing the rows where Amount is Call for Price
df[df['Amount(in rupees)'] != 'Call for Price']

In [ ]:
# Creating a new column Currency with the lambda function from the Amount column. Extracting the Units from the Amount column
df['Currency'] = df['Amount(in rupees)'].apply(lambda x: x.split()[1])

In [ ]:
# Creating a new column Value with the lambda function from the Amount column. Extracting the Value from the Amount Column
df['Value'] = df['Amount(in rupees)'].apply(lambda x:x.split()[0])

In [ ]:
# removing the rows where value is Call 
df = df[df['Value'] != 'Call']

In [ ]:
# Checking the type of the Value column we created and converting it to float
df['Value'].dtypes
df['Value'] = df['Value'].astype(float)
# df.head()
# %timeit df["product_AH"] = df[["Age", "Height"]].apply(lambda x,y: x['Age']*y['Height'], axis=1)

In [ ]:
# converting the Value in one unit by creating a column named Amount in Crore 
df['Amount_in_Crore'] = df.apply(lambda x: x['Value'] if ['Currency'] == 'Cr' else x['Value'] / 100, axis = 1)

In [ ]:
# Replacing the units in Currency to Cr from Lac
df['Currency'] = df['Currency'].replace('Lac', 'Cr')
df.head()

In [ ]:
# checking the information given in Description column by calling .value_counts()
df['Description'].value_counts()

In [ ]:
# checking the information given in the Title column by calling value_counts ()
df[df['Title'].str.contains('Dwarka')].Title.value_counts()

In [ ]:
## extracting information from Title column and making a new 
df['BHK'] = df['Title'].apply(lambda x: x.split()[0])
df.head()

In [ ]:
# skipping some columns 
df = df[[
    # 'Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'overlooking', 'Society',
       'Bathroom', 'Balcony', 'Car Parking', 'Ownership', 'Super Area',
       # 'Dimensions', 'Plot Area', 'Currency', 'Value', 
    'Amount_in_Crore', 'BHK']].copy()

In [ ]:
# Checking the average null values in the data by calling isnull() and .sum()
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df[df['Carpet Area'].str.contains('sqyrd', na=False)]['Carpet Area'].value_counts().head()
# df[df['Carpet Area'].str.contains("sqyrd", na=False)]['Carpet Area'].value_counts()

In [ ]:
# replacing the missing values with 0 for now 
df['Carpet Area'].fillna(0, inplace=True)
df['Carpet Area'].isnull().sum()

In [ ]:
#splitting the values and units of columm Carpet area 
df['Carpet Area'] = df['Carpet Area'].astype(str)
df['Carpet Area (units)'] = df['Carpet Area'].apply(lambda x:x.split()[-1])
df['Carpet Area (value)'] = df['Carpet Area'].apply(lambda x:x.split()[0])
df.head()

In [ ]:
# df['Carpet Area (in sqft)'] = df['Carpet Area (in sqft)'].astype(float)
df['Carpet_Area_sqft'] = df.apply(lambda x: float(x['Carpet Area (value)']) if x['Carpet Area (units)'] == 'sqft' 
                                  else float(x['Carpet Area (value)']) * 9, axis = 1)
df.head()

In [ ]:
df['Carpet_Area_sqft']

In [ ]:
df["Carpet_Area_sqft"].isnull().sum()

In [ ]:
# def convert_to_sqft(value):
#     if 'sqft' in value:
#         return float(value)
#     elif 'sqyrd' in value:
#         num = float(value)
#         return num*9
#     else:
#         return None

# df['Carpet Area (sqft)'] = df['Carpet Area'].apply(convert_to_sqft)
# df['Carpet Area (sqft)'] = df.apply(lambda x: x['Carpet Area'] if ['Carpet Area'] == 'sqft' else x['Carpet Area'] * 9, axis = 1)
# df['Carpet Area (sqft)'].value_counts()

In [ ]:
# df[df['Carpet Area (sqft)'].str.contains('sqyrd', na = False)]['Carpet Area (sqft)'].value_counts().head(20)

In [ ]:
df.columns

In [ ]:
df = df.drop(['Carpet Area (units)', 'Carpet Area (value)'], axis=1)

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df['Super Area'].value_counts()

In [ ]:
df['Car Parking'].value_counts()

In [ ]:
df['BHK'] = pd.to_numeric(df['BHK'], errors='coerce')

In [ ]:
df['Bathroom'] = pd.to_numeric(df['Bathroom'], errors='coerce')

In [ ]:
df['Balcony'] = pd.to_numeric(df['Balcony'], errors='coerce')

In [ ]:
df.dtypes

In [ ]:
df.loc[df.duplicated()]

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df.groupby('location')['Price (in rupees)'].mean()

In [ ]:
plt.figure(figsize=(30, 8))
sns.barplot(x='location', y='Price (in rupees)', data = df)
plt.xticks(rotation = 90)
plt.show

In [ ]:
df.groupby('location')['Amount_in_Crore'].mean()

In [ ]:
plt.figure(figsize=(30, 8))
sns.barplot(x='location', y='Amount_in_Crore', data=df)
plt.xticks(rotation=90)
plt.show

In [ ]:
df.groupby('BHK')['Amount_in_Crore'].mean()

In [ ]:
plt.figure(figsize=(30, 8))
sns.barplot(x='BHK', y='Amount_in_Crore', data = df)
plt.xticks(rotation=90)
plt.show

In [ ]:
plt.figure(figsize=(30, 8))
sns.barplot(x='Bathroom', y='Amount_in_Crore', data = df)
plt.xticks(rotation=90)
plt.show

In [ ]:
plt.figure(figsize=(30, 8))
sns.barplot(x='Balcony', y='Amount_in_Crore', data = df)
plt.xticks(rotation=90)
plt.show

In [ ]:
plt.figure(figsize=(30, 8))
sns.barplot(x='Car Parking', y='Amount_in_Crore', data = df)
plt.xticks(rotation=90)
plt.show

In [ ]:
# plt.figure(figsize=(30, 8))
# sns.barplot(x='Super Area', y='Amount_in_Crore', data = df)
# plt.xticks(rotation=90)
# plt.show

In [ ]:
# plt.figure(figsize=(30, 8))
# sns.barplot(x='Carpet Area (in sqft)', y='Amount_in_Crore', data = df)
# plt.xticks(rotation=90)
# plt.show

In [ ]:
df['Carpet_Area_sqft'].value_counts().plot(kind='hist')

In [ ]:
df['Super Area'].value_counts().plot(kind='hist')

In [ ]:
df.hist(figsize=(15, 10))
plt.subplots_adjust(hspace=0.5)

In [ ]:
# ski_data.SkiableTerrain_ac[ski_data.SkiableTerrain_ac > 10000]
df.Carpet_Area_sqft[df.Carpet_Area_sqft>100000].value_counts().head(10)

In [ ]:
df[df['Carpet_Area_sqft'] == 113134.0].Carpet_Area_sqft.value_counts()

In [ ]:
df.head()