In [261]:
# importing libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
# pd.set_option('max_columns', 100)

In [262]:
df = pd.read_csv(r"D:\Data_Science\SecondCapstoneProjectDS\New folder\EDA_data.csv")

In [263]:
df.head()

,Unnamed: 0,Price (in rupees),location,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car_Parking,Ownership,Amount_in_Crore,BHK,Carpet_Area_sqft,Super Area (sqft)
0,0,9646.0,kolkata,Ready to Move,2 out of 4,New Property,Unfurnished,Unknown,Main Road,One Rajarhat,2.0,2.0,1 Covered,Freehold,0.012,2.0,740.0,1314.654894
1,1,4062.0,bangalore,Ready to Move,4 out of 4,Resale,Semi-Furnished,East,Unknown,Unknown,2.0,2.0,Not Specified,Unknown,0.650,2.0,1050.0,1314.654894
2,3,2700.0,raipur,Ready to Move,1 out of 8,New Property,Unfurnished,East,Main Road,Dolphin Jewel O,3.0,2.0,1 Covered,Co-operative Society,0.444,3.0,1300.0,1314.654894
3,4,7666.0,kolkata,Ready to Move,12 out of 20,Resale,Semi-Furnished,East,Main Road,Diamond City South,2.0,2.0,1 Open,Freehold,0.011,3.0,0.0,1435.000000
4,5,2341.0,bhiwadi,Ready to Move,10 out of 13,Resale,Unfurnished,North - East,Garden/Park,Krish Aura,2.0,4.0,1 Covered,Freehold,0.240,2.0,0.0,1025.000000

In [264]:
# Create dummy or indicator features for categorical variables
# Standardize the magnitude of numeric features using a scaler
# Split your data into testing and training datasets
# Making a Scaler object
# scaler = preprocessing.StandardScaler()
# # Fitting data to the scaler object
# scaled_df = scaler.fit_transform(df)
# scaled_df = pd.DataFrame(scaled_df, columns=names)

In [265]:
# dummies = pd.get_dummies(df.Ownership)
# dummies

In [266]:
col_dummies=['Status', 'Transaction', 'Furnishing', 'facing', 'overlooking', 'Ownership']
df_encoded = pd.get_dummies(df, columns=col_dummies, drop_first=True)
df_encoded.head()

,Unnamed: 0,Price (in rupees),location,Floor,Society,Bathroom,Balcony,Car_Parking,Amount_in_Crore,BHK,...,overlooking_Pool,"overlooking_Pool, Garden/Park","overlooking_Pool, Garden/Park, Main Road","overlooking_Pool, Main Road","overlooking_Pool, Main Road, Garden/Park",overlooking_Unknown,Ownership_Freehold,Ownership_Leasehold,Ownership_Power Of Attorney,Ownership_Unknown
0,0,9646.0,kolkata,2 out of 4,One Rajarhat,2.0,2.0,1 Covered,0.012,2.0,...,False,False,False,False,False,False,True,False,False,False
1,1,4062.0,bangalore,4 out of 4,Unknown,2.0,2.0,Not Specified,0.650,2.0,...,False,False,False,False,False,True,False,False,False,True
2,3,2700.0,raipur,1 out of 8,Dolphin Jewel O,3.0,2.0,1 Covered,0.444,3.0,...,False,False,False,False,False,False,False,False,False,False
3,4,7666.0,kolkata,12 out of 20,Diamond City South,2.0,2.0,1 Open,0.011,3.0,...,False,False,False,False,False,False,True,False,False,False
4,5,2341.0,bhiwadi,10 out of 13,Krish Aura,2.0,4.0,1 Covered,0.240,2.0,...,False,False,False,False,False,False,True,False,False,False

In [267]:
dummy_cols = df_encoded.select_dtypes(include='bool').columns
df_encoded[dummy_cols]=df_encoded[dummy_cols].astype(int)

In [268]:
# from sklearn.preprocessing import LabelEncoder
# # Function to perform Label Encoding for multiple columns
# def label_encode_multiple(df_encoded, columns):
#     le = LabelEncoder()
#     for column in columns:
#         df_encoded[column] = le.fit_transform(df_encoded[column])
#     return df_encoded

# label_encode_columns = ['Society', 'location']
# df = label_encode_multiple(df_encoded, label_encode_columns)

In [269]:
mean_price = df_encoded.groupby('location')['Price (in rupees)'].mean()
df_encoded['location_target'] = df_encoded['location'].map(mean_price)
df_encoded.head()

,Unnamed: 0,Price (in rupees),location,Floor,Society,Bathroom,Balcony,Car_Parking,Amount_in_Crore,BHK,...,"overlooking_Pool, Garden/Park","overlooking_Pool, Garden/Park, Main Road","overlooking_Pool, Main Road","overlooking_Pool, Main Road, Garden/Park",overlooking_Unknown,Ownership_Freehold,Ownership_Leasehold,Ownership_Power Of Attorney,Ownership_Unknown,location_target
0,0,9646.0,kolkata,2 out of 4,One Rajarhat,2.0,2.0,1 Covered,0.012,2.0,...,0,0,0,0,0,1,0,0,0,5880.054983
1,1,4062.0,bangalore,4 out of 4,Unknown,2.0,2.0,Not Specified,0.650,2.0,...,0,0,0,0,1,0,0,0,1,7459.166667
2,3,2700.0,raipur,1 out of 8,Dolphin Jewel O,3.0,2.0,1 Covered,0.444,3.0,...,0,0,0,0,0,0,0,0,0,3230.425532
3,4,7666.0,kolkata,12 out of 20,Diamond City South,2.0,2.0,1 Open,0.011,3.0,...,0,0,0,0,0,1,0,0,0,5880.054983
4,5,2341.0,bhiwadi,10 out of 13,Krish Aura,2.0,4.0,1 Covered,0.240,2.0,...,0,0,0,0,0,1,0,0,0,2842.704301

In [270]:
mean_price = df_encoded.groupby('Society')['Price (in rupees)'].mean()
df_encoded['Society_target'] = df_encoded['Society'].map(mean_price)
df_encoded.head()

,Unnamed: 0,Price (in rupees),location,Floor,Society,Bathroom,Balcony,Car_Parking,Amount_in_Crore,BHK,...,"overlooking_Pool, Garden/Park, Main Road","overlooking_Pool, Main Road","overlooking_Pool, Main Road, Garden/Park",overlooking_Unknown,Ownership_Freehold,Ownership_Leasehold,Ownership_Power Of Attorney,Ownership_Unknown,location_target,Society_target
0,0,9646.0,kolkata,2 out of 4,One Rajarhat,2.0,2.0,1 Covered,0.012,2.0,...,0,0,0,0,1,0,0,0,5880.054983,9646.000000
1,1,4062.0,bangalore,4 out of 4,Unknown,2.0,2.0,Not Specified,0.650,2.0,...,0,0,0,1,0,0,0,1,7459.166667,5997.880255
2,3,2700.0,raipur,1 out of 8,Dolphin Jewel O,3.0,2.0,1 Covered,0.444,3.0,...,0,0,0,0,0,0,0,0,3230.425532,2730.000000
3,4,7666.0,kolkata,12 out of 20,Diamond City South,2.0,2.0,1 Open,0.011,3.0,...,0,0,0,0,1,0,0,0,5880.054983,7150.333333
4,5,2341.0,bhiwadi,10 out of 13,Krish Aura,2.0,4.0,1 Covered,0.240,2.0,...,0,0,0,0,1,0,0,0,2842.704301,2553.777778

In [271]:
df_encoded.Car_Parking.unique()

array(['1 Covered', 'Not Specified', '1 Open', '1 Covered,', '2 Covered',
       '2 Covered,', '2 Open', '10 Open', '34 Covered', '3 Covered',
       '23 Open', '303 Open', '90 Covered,', '234 Covered', '211 Covered',
       '300 Open', '601 Covered', '402 Covered', '45 Open', '5 Covered',
       '3 Covered,', '12 Covered', '100 Open', '4 Open', '8 Covered',
       '509 Covered,', '20 Covered,', '6 Covered', '50 Open',
       '100 Covered', '111 Covered', '653 Open', '16 Covered',
       '4 Covered', '8 Open', '500 Open', '180 Covered', '5 Open',
       '4 Covered,', '301 Covered', '5 Covered,', '10 Covered', '3 Open',
       '123 Covered', '103 Open', '112 Covered', '202 Covered',
       '101 Covered', '14 Open', '502 Covered', '25 Covered', '7 Covered',
       '203 Covered', '7 Covered,', '108 Covered', '45 Covered',
       '323 Covered', '103 Covered', '9 Covered', '151 Open',
       '204 Covered', '413 Covered', '129 Open', '233 Open',
       '505 Covered', '306 Covered', '80 Covered', '605 Covered',
       '60 Open', '15 Covered', '205 Open', '30 Covered', '13 Covered',
       '102 Covered', '835 Covered', '6 Covered,', '110 Open', '200 Open',
       '11 Covered', '503 Open', '35 Open', '50 Covered', '401 Covered',
       '20 Covered'], dtype=object)

In [272]:
df_final = df_encoded.drop(['Car_Parking', 'location', 'Floor', 'Society'], axis=1)

In [273]:
df_final

,Unnamed: 0,Price (in rupees),Bathroom,Balcony,Amount_in_Crore,BHK,Carpet_Area_sqft,Super Area (sqft),Transaction_Other,Transaction_Rent/Lease,...,"overlooking_Pool, Garden/Park, Main Road","overlooking_Pool, Main Road","overlooking_Pool, Main Road, Garden/Park",overlooking_Unknown,Ownership_Freehold,Ownership_Leasehold,Ownership_Power Of Attorney,Ownership_Unknown,location_target,Society_target
0,0,9646.0,2.0,2.0,0.012,2.0,740.0,1314.654894,0,0,...,0,0,0,0,1,0,0,0,5880.054983,9646.000000
1,1,4062.0,2.0,2.0,0.650,2.0,1050.0,1314.654894,0,0,...,0,0,0,1,0,0,0,1,7459.166667,5997.880255
2,3,2700.0,3.0,2.0,0.444,3.0,1300.0,1314.654894,0,0,...,0,0,0,0,0,0,0,0,3230.425532,2730.000000
3,4,7666.0,2.0,2.0,0.011,3.0,0.0,1435.000000,0,0,...,0,0,0,0,1,0,0,0,5880.054983,7150.333333
4,5,2341.0,2.0,4.0,0.240,2.0,0.0,1025.000000,0,0,...,0,0,0,0,1,0,0,0,2842.704301,2553.777778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13192,13726,2659.0,3.0,3.0,0.489,3.0,0.0,1840.000000,0,0,...,0,0,0,0,1,0,0,0,4383.734266,2706.750000
13193,13727,5143.0,2.0,2.0,0.580,3.0,1138.0,1314.654894,0,0,...,0,0,0,1,1,0,0,0,4859.295820,5997.880255
13194,13728,13766.0,3.0,3.0,0.031,4.0,2200.0,1314.654894,0,0,...,0,0,0,0,1,0,0,0,7459.166667,5997.880255
13195,13729,5000.0,1.0,2.0,0.020,1.0,0.0,4000.000000,0,0,...,0,0,0,1,0,0,0,1,5161.918367,5997.880255
13196,13730,5000.0,3.0,2.0,0.012,4.0,1950.0,1314.654894,0,0,...,0,0,0,1,0,0,0,1,4383.734266,5997.880255

In [274]:
from sklearn.model_selection import train_test_split

X=df_final.drop(columns=['Price (in rupees)'])
y=df_final[['Price (in rupees)']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=1)

In [275]:
#scale data
from sklearn import preprocessing
import numpy as np
# build scaler based on training data and apply it to test data to then also scale the test data
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)